---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_MAP_API_KEY>&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1611008289,"sunrise":1610979458,"sunset":1611014575,"temp":36.84,"feels_like":31.05,"pressure":1019,"humidity":45,"dew_point":19.13,"uvi":0.53,"clouds":42,"visibility":10000,"wind_speed":1.01,"wind_deg":149,"wind_gust":5.01,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"minutely":[{"dt":1611008340,"precipitation":0},{"dt":1611008400,"precipitation":0},{"dt":1611008460,"precipitation":0},{"dt":1611008520,"precipitation":0},{"dt":1611008580,"precipitation":0},{"dt":1611008640,"precipitation":0},{"dt":1611008700,"precipitation":0},{"dt":1611008760,"precipitation":0},{"dt":1611008820,"precipitation":0},{"dt":1611008880,"precipitation":0},{"dt":1611008940,"precipitation":0},{"dt":1611009000,"precipitation":0},{"dt":1611009060,"precipitation":0},{"dt":1611009120,"precipitation":0},{"dt":1611009180,"precipitati[...]
