---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_MAP_API_KEY>&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1611022721,"sunrise":1610979458,"sunset":1611014575,"temp":32.16,"feels_like":24.35,"pressure":1024,"humidity":45,"dew_point":15.28,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":4,"wind_deg":76,"wind_gust":7,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13n"}],"snow":{"1h":0.13}},"minutely":[{"dt":1611022740,"precipitation":0},{"dt":1611022800,"precipitation":0},{"dt":1611022860,"precipitation":0},{"dt":1611022920,"precipitation":0},{"dt":1611022980,"precipitation":0},{"dt":1611023040,"precipitation":0},{"dt":1611023100,"precipitation":0},{"dt":1611023160,"precipitation":0},{"dt":1611023220,"precipitation":0},{"dt":1611023280,"precipitation":0},{"dt":1611023340,"precipitation":0},{"dt":1611023400,"precipitation":0},{"dt":1611023460,"precipitation":0},{"dt":1611023520,"precipitation":0},{"dt":1611023580,"precipitati[...]
