---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_MAP_API_KEY>&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1610835272,"sunrise":1610806713,"sunset":1610841641,"temp":45.36,"feels_like":40.1,"pressure":1019,"humidity":41,"dew_point":24.08,"uvi":0.59,"clouds":0,"visibility":10000,"wind_speed":1.01,"wind_deg":92,"wind_gust":5.01,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1610835300,"precipitation":0},{"dt":1610835360,"precipitation":0},{"dt":1610835420,"precipitation":0},{"dt":1610835480,"precipitation":0},{"dt":1610835540,"precipitation":0},{"dt":1610835600,"precipitation":0},{"dt":1610835660,"precipitation":0},{"dt":1610835720,"precipitation":0},{"dt":1610835780,"precipitation":0},{"dt":1610835840,"precipitation":0},{"dt":1610835900,"precipitation":0},{"dt":1610835960,"precipitation":0},{"dt":1610836020,"precipitation":0},{"dt":1610836080,"precipitation":0},{"dt":1610836140,"precipitati[...]
