---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_MAP_API_KEY>&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1611068015,"sunrise":1611065827,"sunset":1611101043,"temp":24.96,"feels_like":19.2,"pressure":1035,"humidity":74,"dew_point":18.66,"uvi":0.18,"clouds":100,"visibility":10000,"wind_speed":1.01,"wind_deg":231,"wind_gust":3,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"minutely":[{"dt":1611068040,"precipitation":0},{"dt":1611068100,"precipitation":0},{"dt":1611068160,"precipitation":0},{"dt":1611068220,"precipitation":0},{"dt":1611068280,"precipitation":0},{"dt":1611068340,"precipitation":0},{"dt":1611068400,"precipitation":0},{"dt":1611068460,"precipitation":0},{"dt":1611068520,"precipitation":0},{"dt":1611068580,"precipitation":0},{"dt":1611068640,"precipitation":0},{"dt":1611068700,"precipitation":0},{"dt":1611068760,"precipitation":0},{"dt":1611068820,"precipitation":0},{"dt":1611068880,"precipitati[...]
