---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_MAP_API_KEY>&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1610840899,"sunrise":1610806713,"sunset":1610841641,"temp":39.85,"feels_like":33.75,"pressure":1020,"humidity":45,"dew_point":21.58,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":1.99,"wind_deg":70,"wind_gust":7,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1610840940,"precipitation":0},{"dt":1610841000,"precipitation":0},{"dt":1610841060,"precipitation":0},{"dt":1610841120,"precipitation":0},{"dt":1610841180,"precipitation":0},{"dt":1610841240,"precipitation":0},{"dt":1610841300,"precipitation":0},{"dt":1610841360,"precipitation":0},{"dt":1610841420,"precipitation":0},{"dt":1610841480,"precipitation":0},{"dt":1610841540,"precipitation":0},{"dt":1610841600,"precipitation":0},{"dt":1610841660,"precipitation":0},{"dt":1610841720,"precipitation":0},{"dt":1610841780,"precipitati[...]
