---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<MAPQUEST_API_KEY>&location=denver,co&maxResults=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 20 Jan 2021 00:36:44 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAPQUEST_API_KEY>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1118506259"}]}]}'
  recorded_at: Wed, 20 Jan 2021 00:36:44 GMT
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<UNSPLASH_API_KEY>&per_page=1&query=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Accept-Version:
      - v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_API_KEY>&page=2354&per_page=1&query=denver%2Cco>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_API_KEY>&page=2&per_page=1&query=denver%2Cco>;
        rel="next"
      X-Total:
      - '2354'
      X-Per-Page:
      - '1'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"total":2354,"total_pages":2354,"results":[{"id":"hdzGZRCYMSU","created_at":"2020-09-13T19:54:14-04:00","updated_at":"2021-01-19T01:15:15-05:00","promoted_at":null,"width":3888,"height":5184,"color":"#d9f3f3","blur_hash":"LsG,S1WCtRkC02axWBays:adV@js","description":null,"alt_description":"man
        in blue jacket and black pants riding on snowboard during daytime","urls":{"raw":"https://images.unsplash.com/photo-1600041161228-519e6dd27bac?ixid=MXwxOTkzNDd8MHwxfHNlYXJjaHwxfHxkZW52ZXIsY298ZW58MHx8fA\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1600041161228-519e6dd27bac?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MXwxOTkzNDd8MHwxfHNlYXJjaHwxfHxkZW52ZXIsY298ZW58MHx8fA\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1600041161228-519e6dd27bac?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MXwxOTkzNDd8MHwxfHNlYXJjaHwxfHxkZW52ZXIsY298ZW58MHx8fA\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1600041161228-519e6dd27bac?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MXwxOTkzNDd8MHwxfHNlYXJjaHwxfHxkZW52ZXIsY298ZW58MHx8fA\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1600041161228-519e6dd27bac?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MXwxOTkzNDd8MHwxfHNlYXJjaHwxfHxkZW52ZXIsY298ZW58MHx8fA\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/hdzGZRCYMSU","html":"https://unsplash.com/photos/hdzGZRCYMSU","download":"https://unsplash.com/photos/hdzGZRCYMSU/download","download_location":"https://api.unsplash.com/photos/hdzGZRCYMSU/download"},"categories":[],"likes":1,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"uMT_KSln-6U","updated_at":"2021-01-19T17:16:52-05:00","username":"mikekilcoyne","name":"Michael
        Kilcoyne","first_name":"Michael","last_name":"Kilcoyne","twitter_username":"mikekilcoyne","portfolio_url":"http://mikekilcoyne.com","bio":"I
        love capturing people, animal, places, and things in their element. ","location":"Istanbul,
        Turkey","links":{"self":"https://api.unsplash.com/users/mikekilcoyne","html":"https://unsplash.com/@mikekilcoyne","photos":"https://api.unsplash.com/users/mikekilcoyne/photos","likes":"https://api.unsplash.com/users/mikekilcoyne/likes","portfolio":"https://api.unsplash.com/users/mikekilcoyne/portfolio","following":"https://api.unsplash.com/users/mikekilcoyne/following","followers":"https://api.unsplash.com/users/mikekilcoyne/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1598778372638-601d72333823image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1598778372638-601d72333823image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1598778372638-601d72333823image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"itsmemikekilcoyne","total_collections":1,"total_likes":3,"total_photos":78,"accepted_tos":true},"tags":[{"type":"search","title":"human"},{"type":"landing_page","title":"person","source":{"ancestry":{"type":{"slug":"images","pretty_slug":"Images"},"category":{"slug":"people","pretty_slug":"People"}},"title":"People
        Images \u0026 Pictures","subtitle":"Download free people images","description":"Human
        faces speak to us in a way that language cannot. Everyone recognize a smile,
        a frown, tears. Unsplash has the finest selection of people images on the
        web: high-def and curated for quality. Family, friends, men, women, Unsplash
        has photos for all.","meta_title":"People Pictures [HQ] | Download Free Images
        on Unsplash","meta_description":"Choose from hundreds of free people pictures.
        Download HD people photos for free on Unsplash.","cover_photo":{"id":"PmNjS6b3XP4","created_at":"2017-04-20T18:04:07-04:00","updated_at":"2020-12-22T02:01:25-05:00","promoted_at":"2017-04-21T12:00:49-04:00","width":4630,"height":3087,"color":"#a6d9d9","blur_hash":"LjI=x%:QUbv#NHWVa}kCt7jFjZfQ","description":"Summer
        in France with baby","alt_description":"woman carrying baby while walking","urls":{"raw":"https://images.unsplash.com/photo-1492725764893-90b379c2b6e7?ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1492725764893-90b379c2b6e7?ix[...]
