---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_MAP_API_KEY>&lat=39.7392&lon=-104.9903&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7392,"lon":-104.9903,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1611114642,"sunrise":1611065829,"sunset":1611101044,"temp":26.56,"feels_like":20.25,"pressure":1029,"humidity":59,"dew_point":15.55,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":1.48,"wind_deg":322,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1611111600,"temp":26.56,"feels_like":20.25,"pressure":1029,"humidity":59,"dew_point":15.55,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":1.48,"wind_deg":322,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1611115200,"temp":29.32,"feels_like":24.28,"pressure":1030,"humidity":69,"dew_point":21.43,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":0.13,"wind_deg":87,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1611118800,"temp":30.97,"feels_like":24.78,"pressure":1031,"humidity":75,"dew_point":24.8,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":2.84,"wind_deg":222,"weather":[{"id":800,"main":"Clear","description":"clear
        sky"[...]
