---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_MAP_API_KEY>&lat=39.7392&lon=-104.9903&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7388,"lon":-104.9868,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1611111389,"sunrise":1611065828,"sunset":1611101044,"temp":27.5,"feels_like":21.07,"pressure":1020,"humidity":44,"dew_point":10.51,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":0.98,"wind_deg":268,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1611108000,"temp":27.5,"feels_like":21.07,"pressure":1020,"humidity":44,"dew_point":10.51,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":0.98,"wind_deg":268,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1611111600,"temp":29.88,"feels_like":24.57,"pressure":1025,"humidity":60,"dew_point":19.06,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":0.2,"wind_deg":81,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1611115200,"temp":31.14,"feels_like":25.07,"pressure":1029,"humidity":70,"dew_point":23.49,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":2.33,"wind_deg":216,"weather":[{"id":800,"main":"Clear","description":"clear
        sky"[...]
