---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_MAP_API_KEY>&lat=39.7392&lon=-104.9903&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7392,"lon":-104.9903,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1611111393,"sunrise":1611065829,"sunset":1611101044,"temp":27.52,"feels_like":21.09,"pressure":1020,"humidity":44,"dew_point":10.53,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":0.98,"wind_deg":272,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1611108000,"temp":27.52,"feels_like":21.09,"pressure":1020,"humidity":44,"dew_point":10.53,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":0.98,"wind_deg":272,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1611111600,"temp":29.95,"feels_like":24.58,"pressure":1025,"humidity":59,"dew_point":18.77,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":0.25,"wind_deg":71,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1611115200,"temp":31.23,"feels_like":25.16,"pressure":1029,"humidity":69,"dew_point":23.27,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":2.28,"wind_deg":215,"weather":[{"id":800,"main":"Clear","description":"clear
        sky[...]
