---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?key=<MAPQUEST_API_KEY>&location=pueblo,co&open_at=1611075240&term=mexican
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TqK2LTLwo971-rPOW682O2Uz-LIC6I58mKkQ_mKAPEPhxyy1TQBruUgLkhb3svoBwdrMObjQ7Id7fb5yBmKIh_KBL9VH151KY-mX7IvOPvtTyRKJ3gWMFThly-gFYHYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4994'
      X-Zipkin-Id:
      - 31ede7c269c3d02c
      Ratelimit-Resettime:
      - '2021-01-20T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--useast1-5bc6d6966-wt24b; site=public_api_v3
      X-Proxied:
      - 10-65-72-168-useast1aprod
      X-Extlb:
      - 10-65-72-168-useast1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "qa-JLTeHxi0GJxDr1-0xPw", "alias": "mill-stop-cafe-pueblo",
        "name": "Mill Stop Cafe", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/AIyRn0PW7KPTbq-y0-3b-w/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/mill-stop-cafe-pueblo?adjust_creative=5VKz2d4ZJNjGi3OUdJHbiQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=5VKz2d4ZJNjGi3OUdJHbiQ",
        "review_count": 115, "categories": [{"alias": "mexican", "title": "Mexican"}],
        "rating": 4.5, "coordinates": {"latitude": 38.2390823364258, "longitude":
        -104.614639282227}, "transactions": ["delivery"], "price": "$", "location":
        {"address1": "317 Bay State Ave", "address2": "", "address3": "", "city":
        "Pueblo", "zip_code": "81004", "country": "US", "state": "CO", "display_address":
        ["317 Bay State Ave", "Pueblo, CO 81004"]}, "phone": "+17195640407", "display_phone":
        "(719) 564-0407", "distance": 5011.493863805519}, {"id": "cfKkli_2l94xrxhqvBqhPw",
        "alias": "tortilleria-delicias-pueblo", "name": "Tortilleria Delicias", "image_url":
        "https://s3-media4.fl.yelpcdn.com/bphoto/0FDhFTFlSLcfzHIQaPifnQ/o.jpg", "is_closed":
        false, "url": "https://www.yelp.com/biz/tortilleria-delicias-pueblo?adjust_creative=5VKz2d4ZJNjGi3OUdJHbiQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=5VKz2d4ZJNjGi3OUdJHbiQ",
        "review_count": 24, "categories": [{"alias[...]
