---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?key=<MAPQUEST_API_KEY>&location=pueblo,co&open_at=1611079734&term=mexican
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer TqK2LTLwo971-rPOW682O2Uz-LIC6I58mKkQ_mKAPEPhxyy1TQBruUgLkhb3svoBwdrMObjQ7Id7fb5yBmKIh_KBL9VH151KY-mX7IvOPvtTyRKJ3gWMFThly-gFYHYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4975'
      X-Zipkin-Id:
      - d9a4eaa095f9bf2a
      Ratelimit-Resettime:
      - '2021-01-20T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--useast1-5bc6d6966-zdkw2; site=public_api_v3
      X-Proxied:
      - 10-65-190-220-useast1bprod
      X-Extlb:
      - 10-65-190-220-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "hzVSW5zEzkLNPvCY5QjYag", "alias": "tacos-navarro-pueblo",
        "name": "Tacos Navarro", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/wc6GBBKPo4_3vKgObAuSLA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/tacos-navarro-pueblo?adjust_creative=5VKz2d4ZJNjGi3OUdJHbiQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=5VKz2d4ZJNjGi3OUdJHbiQ",
        "review_count": 116, "categories": [{"alias": "mexican", "title": "Mexican"}],
        "rating": 4.5, "coordinates": {"latitude": 38.244251452554, "longitude": -104.609048031271},
        "transactions": ["delivery", "pickup"], "price": "$", "location": {"address1":
        "223 E Northern Ave", "address2": null, "address3": null, "city": "Pueblo",
        "zip_code": "81006", "country": "US", "state": "CO", "display_address": ["223
        E Northern Ave", "Pueblo, CO 81006"]}, "phone": "+17195466280", "display_phone":
        "(719) 546-6280", "distance": 4258.024047789065}, {"id": "qa-JLTeHxi0GJxDr1-0xPw",
        "alias": "mill-stop-cafe-pueblo", "name": "Mill Stop Cafe", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/AIyRn0PW7KPTbq-y0-3b-w/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/mill-stop-cafe-pueblo?adjust_creative=5VKz2d4ZJNjGi3OUdJHbiQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=5VKz2d4ZJNjGi3OUdJHbiQ",
        "review_count": 115, "categories": [{"alias": "mexican", "title": "M[...]
